Repository 6hostsRus/flutter_game_ecosystem, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-core, packages-characters, packages-items, packages-controls, packages-ads, packages-db, templates, platform, automation

.github/labeler.yml:

packages-core:
  - "packages/game_core/**"
packages-characters:
  - "packages/game_characters/**"
packages-items:
  - "packages/game_items/**"
packages-controls:
  - "packages/game_controls/**"
packages-ads:
  - "packages/game_ads/**"
packages-db:
  - "packages/game_db/**"
templates:
  - "templates/**"
platform:
  - "platform/**"
automation:
  - "automation/**"

tests and scripts edited
  README_unified_stack.md
  architecture/overview.md
  packages/providers/lib/flags/flag_provider.dart
  packages/providers/test/real_plugin_matrix_test.dart
Labels: none

expand golden guard
  .github/workflows/golden-guard.yml
  examples/demo_game/test/goldens/README.md
Labels: none

Analytics events minimum test
  docs/LOGGING.md
  packages/providers/test/analytics/minimum_analytics_event_analytics_test.dart
  packages/services/lib/analytics/testing.dart
  packages/services/test/analytics/README.md
  packages/services/test/analytics/analytics_contract_analytics_test.dart
  packages/services/test/analytics/analytics_event_log_test.dart
  packages/services/test/analytics/economy_analytics_test.dart
  packages/services/test/analytics/purchase_analytics_test.dart
Labels: none

improve route testing
  README.md
  docs/GOLDENS.md
  examples/demo_game/README.md
  examples/demo_game/lib/main.dart
  examples/demo_game/test/goldens/README.md
  examples/demo_game/test/route_enumeration_integrity_test.dart
  packages/services/core_services_isar/README.md
  packages/services/test/analytics/README.md
Labels: none

IAP adapter tests improved
  .github/workflows/semantic-parity.yml
  docs/AI_TASK_RECONCILIATION.md
  docs/GOLDENS.md
  docs/SEMANTIC_PARITY.md
  docs/metrics/in_app_purchase_symbols.json
  docs/metrics/parity_diff_in_app_purchase.json
  packages/services/lib/services.dart
  packages/services/lib/test_support/perf_harness.dart
  packages/services/test/monetization/in_app_purchase_adapter_test.dart
  packages/services/test/perf/performance_simulation_test.dart
  packages/services/test_support/perf_harness.dart
  tools/build_symbol_map.dart
  tools/diff_parity_vs_real.dart
Labels: none

IAP adapter improved
  .github/workflows/semantic-parity.yml
  docs/AI_TASK_RECONCILIATION.md
  docs/SEMANTIC_PARITY.md
  packages/services/lib/test_support/perf_harness.dart
  packages/services/test/monetization/in_app_purchase_adapter_test.dart
  packages/services/test_support/perf_harness.dart
  tools/build_symbol_map.dart
  tools/diff_parity_vs_real.dart
Labels: none

expanded test coverage to UI Shell
  packages/ui_shell/README.md
  packages/ui_shell/lib/src/nav/game_nav_scaffold.dart
  packages/ui_shell/lib/src/store/store_button.dart
  packages/ui_shell/lib/src/store/store_sheet.dart
  packages/ui_shell/test/store_keys_test.dart
  packages/ui_shell/test/ui_widget_keys_test.dart
Labels: none

EconomyErrorPathTests and migrate demo tests to keys
  examples/demo_game/test/goldens/store_screen_golden_test.dart
  examples/demo_game/test/route_enumeration_integrity_test.dart
  examples/demo_game/test/route_navigation_switch_test.dart
  examples/demo_game/test/route_push_modal_test.dart
  packages/services/test/economy/economy_error_paths_test.dart
Labels: none

update tests
  examples/demo_game/test/goldens/store_screen_golden_test.dart
Labels: none

increase test coverage, improve CI integration, update docs
  .github/workflows/auto-update-parity-spec.yml
  .github/workflows/perf-metrics.yml
  README.md
  README_unified_stack.md
  docs/AI_TASK_RECONCILIATION.md
  docs/WORKFLOWS.md
  examples/demo_game/test/deep_link_survivor_mode_test.dart
  packages/services/lib/test_support/README.md
  packages/services/lib/test_support/transactions.dart
  packages/services/test/economy/economy_error_paths_test.dart
  tools/auto_update_parity_spec.dart
  tools/check_perf_metrics.dart
  tools/update_metrics.dart
Labels: none

extended badges and connected to metrics CI
  packages/in_app_purchase/README.md
  packages/providers/README.md
  packages/services/README.md
  packages/services/analytics_firebase_adapter/README.md
  packages/services/core_services/README.md
  packages/services/core_services_isar/README.md
  packages/ui_shell/README.md
  tools/update_metrics.dart
Labels: none

extend metrics and badge generation
  packages/services/analytics_firebase_adapter/README.md
  tools/update_metrics.dart
Labels: none

CI integration
  .github/workflows/metrics.yml
  docs/AI_TASK_RECONCILIATION.md
Labels: none

updated docs
  docs/WORKFLOWS.md
Labels: none

expand ai_instructions and workflows
  ai_instructions.md
  docs/AI_TASK_CHECKLIST.md
  docs/AI_TASK_LIBRARY.md
  docs/AI_TASK_LIBRARY_PROMPT.md
  docs/WORKFLOWS.md
Labels: none

added changelog and reminder workflows
  .github/workflows/changelog-reminder.yml
  CHANGELOG.md
  ai_instructions.md
  architecture/overview.md
  docs/AI_TASK_CHECKLIST.md
  docs/AI_TASK_RECONCILIATION.md
  docs/WORKFLOWS.md
Labels: none

update task library and added update generation script
  .github/workflows/checklist-visibility.yml
  docs/AI_TASK_LIBRARY.md
  docs/AI_TASK_RECONCILIATION.md
  tools/stamp_doc_dates.dart
Labels: none

updated tasks
  docs/AI_TASK_LIBRARY.md
  docs/AI_TASK_RECONCILIATION.md
Labels: none

initial migration of doc set
  docs/CODING_STANDARDS.md
  docs/monetization/overview.md
  docs/monetization/testing.md
  docs/platform/index.md
  docs/roadmap/phase-1.md
Labels: none

updates to support doc merges
  .github/workflows/platform-release.yml
  README.md
  ai_instructions.md
  docs/WORKFLOWS.md
Labels: none

updates to reconcile platform jobs, updated pipelines and automations
  .github/workflows/platform-release.yml
  QUICK_OPS.md
  docs/AI_TASK_LIBRARY.md
  docs/AI_TASK_RECONCILIATION.md
  docs/WORKFLOWS.md
  docs/automation/index.md
  docs/platform/index.md
  docs/platform/release.md
  docs/platform/topics/android_vs_ios.md
  docs/platform/topics/dev_programs.md
  docs/platform/topics/device_targets.md
  docs/platform/topics/hosting_options.md
  platform/android_vs_ios.md
  platform/dev_programs.md
  platform/device_targets.md
  platform/hosting_options.md
  secrets.example.md
Labels: platform

docs refinement
  README.md
  README_unified_stack.md
  ai_instructions.md
  architecture/coding-standards.md
  docs/AI_TASK_LIBRARY.md
  docs/STACK.md
  tools/consolidate_stack_docs.dart
Labels: none

update checklists instructions, reconcile list
  docs/AI_TASK_CHECKLIST.md
  docs/AI_TASK_RECONCILIATION.md
  docs/WORKFLOWS.md
Labels: none

update monetization docs
  docs/AI_TASK_RECONCILIATION.md
  docs/monetization/overview.md
  docs/monetization/testing.md
Labels: none

update semantic parity
  .github/workflows/semantic-parity.yml
  docs/AI_TASK_RECONCILIATION.md
  docs/SEMANTIC_PARITY.md
Labels: none

remove unnecessary directory
  monetization/monetization.md
Labels: none

reconcile task library
  CHANGELOG.md
  docs/AI_TASK_LIBRARY.md
  docs/AI_TASK_RECONCILIATION.md
Labels: none

initial migration for schemas, refactor validator and references
  docs/AI_TASK_LIBRARY.md
  docs/AI_TASK_RECONCILIATION.md
  game_core/assets/schemas/economy.schema.json
  game_core/assets/schemas/manifest.schema.json
  game_core/assets/schemas/quests.schema.json
  game_core/assets/schemas/scenes.schema.json
  game_core/lib/schemas/validator.dart
  game_core/pubspec.yaml
  snippets/MIGRATION.md
  templates/schemas/economy.schema.json
  templates/schemas/manifest.schema.json
  templates/schemas/quests.schema.json
  templates/schemas/scenes.schema.json
  tools/schema_validator/bin/validate_schemas.dart
  tools/schema_validator/test/default_path_test.dart
Labels: templates
